<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Dashboard</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.6/ace.js"></script>
	<!------ Include the above in your HEAD tag ---------->

	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="/css/home.css" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Poppins&display=swap" rel="stylesheet">
</head>

<body>

	<p id="user" data-designation="<%= currentUser.designation %>" data-email="<%= currentUser.email%>" data-username="<%= currentUser.username %>"></p>
	<nav class="navbar navbar-expand-lg navbar-light bg-light" id="#main-navbar">
		<a class="navbar-brand" href="#" id="navbar-brand">whiteboard.io</a>
		<ul class="navbar-nav mr-auto" id="list">
			<li class="nav-item">
				<a class="nav-link" href="/room">Room </a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="" id="dashboard">Dashboard</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="" id="profile">Profile</a>
			</li>
			<li class="nav-item">
				<a href="" class="nav-link" id="notification">Notifications</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/logout" id="logout">Logout</a>
			</li>
		</ul>
	</nav>

	<div class="container-fluid gedf-wrapper">
		<div class="row">
			<!-- Left Sidebar -->
			<div class="col-md-3">
				<div class="card">
					<div class="card-body">
						<div class="h5" id="username">@
							<%= currentUser.username %>
						</div>
						<div class="h7 text-muted" id="email">
							<%= currentUser.email%>
						</div>
						<div class="h7 text-muted" id="designation">
							<%= currentUser.designation %>
						</div>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">
							<div class="h6 text-muted">My Posts</div>
							<div class="h5" id="my-posts">&nbsp;</div>
						</li>
						<li class="list-group-item">
							<div class="h6 text-muted">Today's Posts</div>
							<div class="h5" id="today-posts">&nbsp;</div>
						</li>
					</ul>
				</div>
				<br>
				<br>
			</div>
			<!-- Main Container -->
			<div id="post-container" class="col-md-6 gedf-main">
				<!-- All posts will be here -->
			</div>
			<!-- Right Sidebar -->
			<div class="col-md-3">
				<div class="card gedf-card">
					<div class="card-body">
						<% if(currentUser.designation== "Teacher"){ %>
							<h5 class="card-title">Contact Your Student</h5>
							<h6 class="card-subtitle mb-2 text-muted">Student's username:</h6>
							<% } else{ %>
								<h5 class="card-title">Contact Your Teacher</h5>
								<h6 class="card-subtitle mb-2 text-muted">Teacher's username:</h6>
								<% } %>
									<textarea name="" class="inp" id="inp1" cols="40" rows="1"></textarea>
									<h6 class="card-subtitle mb-2 text-muted">Enter code, input, output: </h6>
									<textarea name="" class="inp" id="inp2" cols="40" rows="10"></textarea>
									<h6 class="card-subtitle mb-2 text-muted">Comments: </h6>
									<textarea name="" class="inp" id="inp3" cols="40" rows="5"></textarea>
									<button type="submit" id="send" class="btn btn-primary">Send</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="/js/home.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.6/ace.js"></script> -->
	<script>
		function download(filename, text) {
			var element = document.createElement('a');
			element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
			element.setAttribute('download', filename);
			element.style.display = 'none';
			document.body.appendChild(element);
			element.click();
			document.body.removeChild(element);
		}
	</script>
</body>

</html>